BattleTank/WindowsNoEditor/Engine/Saved/Config/WindowsNoEditor/
BattleTank/WindowsNoEditor/BattleTank/Saved/Config/WindowsNoEditor/
BattleTank/WindowsNoEditor/BattleTank/Content/Paks/BattleTank-WindowsNoEditor.pak
